/* Globales */
.contenedor{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.site-header.inicio{
    background: url(../Archivos/Archivos\ Bienes\ Raices/img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh; 
    min-height: 600px;
}

.barra { 
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}

.navegacion a:hover {
    color: #71B100;
}

.navegacion a:last-of-type {
    margin-right: 0px;
}
